# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.venv

# Środowisko
.env
conf/local/
*.egg-info/

# Dane i modele
data/
*.db
*.pkl
AutogluonModels/

# W&B
wandb/

# IDE
.vscode/
.idea/

# Kedro
.viz/
.telemetry

# macOS
.DS_Store
